<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="log">
	<insert id="logging" parameterType="hashmap">
		INSERT INTO TRANS_LOG_PARTITIONED
		VALUES(TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') || LPAD(SEQ_TRANS_LOG_PARTITIONED.NEXTVAL, 10, '0')
			   , #{custId}
			   , #{svcId}
			   , #{rtCd}
			   , #{rtMsg})
	</insert>
</mapper>