<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auth">
	<select id="getLatestTransferAuthDate" parameterType="string" resultType="string">
		SELECT MAX(TRANSFER_AUTH_DT) KEEP(DENSE_RANK LAST ORDER BY TRANSFER_AUTH_DT)
		FROM TRANSFER_AUTH_PARTITIONED
		WHERE CUSTOMER_ID = #{custId}
		AND TRANSFER_AUTH_SQNO BETWEEN TO_CHAR(SYSDATE, 'YYYYMMDD') AND TO_CHAR((SYSDATE + 1), 'YYYYMMDD')
	</select>

	<insert id="readyForTransferAuth" parameterType="string">
		INSERT INTO TRANSFER_AUTH_PARTITIONED (TRANSFER_AUTH_SQNO
	                               		  	   , CUSTOMER_ID
	                              		  	   , TRANSFER_AUTH_YN
	                                 		   , TRANSFER_AUTH_DT)
     	VALUES(TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') || LPAD(SEQ_TRANSFER_AUTH_PARTITIONED.NEXTVAL, 10, '0')
              , #{custId}
              , 'N'
              , TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS'))
	</insert>
	
	<select id="getSqnoOfApi" resultType="string">
		SELECT LPAD(SEQ_TRANSFER_AUTH_API.NEXTVAL, 4, '0')
		FROM DUAL
	</select>

	<update id="transferAuth" parameterType="string">
		UPDATE TRANSFER_AUTH_PARTITIONED
		SET TRANSFER_AUTH_YN = 'Y'
		WHERE TRANSFER_AUTH_DT = (SELECT MAX(TRANSFER_AUTH_DT) KEEP(DENSE_RANK LAST ORDER BY TRANSFER_AUTH_DT)
                          		  FROM TRANSFER_AUTH_PARTITIONED
                          		  WHERE CUSTOMER_ID = #{custId}
                          		  AND TRANSFER_AUTH_SQNO BETWEEN TO_CHAR(SYSDATE, 'YYYYMMDD') AND TO_CHAR((SYSDATE + 1), 'YYYYMMDD'))
	</update>
	
	<insert id="storeRanWord" parameterType="string">
		INSERT INTO WORDS_AUTH_PARTITIONED (WORDS_AUTH_SQNO
	  	                           			, CUSTOMER_ID
	  	                           			, AUTH_WORD
                                    		, WORDS_AUTH_YN
                                    		, WORDS_AUTH_SUCCESS_YN)
		VALUES (TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') || LPAD(SEQ_WORDS_AUTH_PARTITIONED.NEXTVAL, 10, '0')
        		, #{custId}
        		, #{word}
        		, 'N'
        		, 'N')
	</insert>
</mapper>